#line-graph {
    width: 700px; 
    margin: 0 auto;
}

// .xAxis path, .yAxis path{
//     stroke:white;
//     fill: none;
//   }
  
.line {
    fill: none;
    stroke-width: 1.5;
  }

.axis {
    stroke: white;
}