#line-graph {
    width: 700px; 
    margin: 0 auto;
}

// .xAxis path, .yAxis path{
//     stroke:white;
//     fill: none;
//   }
  
.plot {
    stroke: white;
  }

  .axis {
      stroke: white;
  }