/* Fonts */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'EB Garamond', serif; */

@import './_css_reset.css';
@import './map.scss';

h1 {
    font-family: 'Oswald', sans-serif;
    color:#EDECF4;
    font-size: 40px;
    text-transform: uppercase;
}

p {
    font-family: 'EB Garamond', serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    background-color: #1E1E2F;
}

.map {
  
}
