* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.boundary {
    fill: none;
    stroke: #dfdfdf;
    stroke-linejoin: round;
    stroke-width: .25;
}
#map {
    text-align: center;
}
.default-pin {
    fill: #EDECF4; 
}

.hover-pin {
    fill: #E74B6F; 
}


#tooltip{
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
}


// tooltip 
h4 {
    font-size: 14px;
}