* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.boundary {
    fill: none;
    stroke: #dfdfdf;
    stroke-linejoin: round;
    stroke-width: .25;
}
#map {
    text-align: center;
}

.active {
    fill: #5F5F6F;
}
.default-pin {
    fill: #EDECF4; 
}

.hover-pin {
    fill: #75F1AA; 
}
.blue-pin {
    fill: #7CDBF2; 
}

.red-pin {
    fill: #E74B6F; 
}

.purple-pin {
    fill: #8A7BCC; 
}

.pink-pin {
    fill: #F0B0BB; 
}


.tooltip-content{
    background: #EDECF4;
    border:1px solid;
    border-radius:5px;
    width: 150px;
    padding:30px;
    color: #1E1E2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Oswald', sans-serif;

}


// tooltip 
.tooltip-content h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 1.3;
}

.tooltip-content p {
    font-size: 13px;
    margin-bottom: 20px;
}

.tooltip-content a {
    font-size: 13px;
    color: #E74B6F; 
}

#open-modal {
    text-transform: uppercase;
    padding: .3em;
}