* {
    margin: 0;
    padding: 0;
}
.boundary {
    fill: none;
    stroke: #dfdfdf;
    stroke-linejoin: round;
}
#map {
    text-align: center;
}
circle {
    fill: blue;
    opacity:.9;
}
text{
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    z-index: 900;
}
#tooltip{
    position: absolute;
    z-index: 2;
    background: rgba(198, 92, 1, 0.80);
    width:130px;
    height:20px;
    color:white;
    font-size: 14px;
    padding:5px;
    top:-150px;
    left:-150px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
