#modal {
    position: absolute !important; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100rem;
    overflow: auto; /* Enable scroll if needed */
    
}

  .modal-content {
    background-color: #1E1E2F;
    padding: 35px;
    border: 1px solid #fefefe;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    min-height: 500px;

  }

 

  .hide {
      display: none;
  }

  /* The Close Button */
.close {
    color: #fefefe;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
color: #75F1AA;
text-decoration: none;
cursor: pointer;
}