#modal {
    position: absolute !important; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100rem;
    overflow: auto; /* Enable scroll if needed */
    
}

  .modal-content {
    background-color: #1E1E2F;
    padding: 35px;
    border: 1px solid #fefefe;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 500px;

  }

  #modal-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 1em;
  }

  #header-text-container {
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #about-school {
    font-size: 22px;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-weight: 400;
  }

  #modal-key {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: .75px dashed #EDECF4;
    height: 2em;
    padding: .4em .8em;
    margin-left: 5em;
    margin-bottom: 2em;
  }

  #modal-key p {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: .06em;
  }

  #blue-key {
    color: #7CDBF2;
  }

  #red-key {
    color: #E74B6F;
  }

  #purple-key {
    color: #8A7BCC;
  }

  #green-key {
    color: #75F1AA;
  }


  #modal-graph-about-row {
    display: flex; 
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
  }

  .line {
    fill: none;
    stroke-width: 1.5;
  }

  .axis {
    stroke: white;
    margin-top: 1em
}

  .axis-label {
    color: #EDECF4;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }

  .axis-tick-label {
    font-weight: 100;
    letter-spacing: 0.12em;
  }

  .hide {
      display: none;
  }

  /* The Close Button */
.close {
    color: #fefefe;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
color: #75F1AA;
text-decoration: none;
cursor: pointer;
}

.right-column {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  border: .75px dashed #EDECF4;
}

.about-college {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;

}

.stat-set {
  margin: 2em 0em
}

#about-college h4 {
  font-size: 22px;
  font-weight: 100;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.stat-title {
  font-size: 16px;
  letter-spacing: .1em;
  font-weight: 100;
  letter-spacing: .2em;
  line-height: 1.5em;
}

.stat-value {
  font-size: 20px;
  font-weight: 100;
  color: #7CDBF2;
  margin-top: .6em;
  letter-spacing: .15em;
}